@font-face {
  font-family: 'JetbrainsMono';
  src: url('../fonts/JetbrainsMono-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'JetbrainsMono';
  src: url('../fonts/JetbrainsMono-Bold.ttf');
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;